<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Okul.Arayuz.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=PC-BILGISAYAR;Initial Catalog=AdventureWorks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Okul.Arayuz.Properties.Settings.okulConnectionString"
            connectionString="Data Source=PC-BILGISAYAR;Initial Catalog=okul;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>